.animate__animated.animate__delay-05s {
  -webkit-animation-delay: calc(1s * 0.33);
  animation-delay: calc(1s * 0.33);
  -webkit-animation-delay: calc(var(--animate-delay) * 0.33);
  animation-delay: calc(var(--animate-delay) * 0.33);
}

body {
  overflow: hidden; 
}